<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home page</h1>
    <pre>
        <a href="{% url 'details' 2001 %}">batch 2001</a>
        <a href="{% url 'details' 2002 %}">batch 2002</a>
        <a href="{% url 'details' 2003 %}">batch 2003</a>
        <a href="{% url 'details' 2004 %}">batch 2004</a>
        <a href="{% url 'details' 2005 %}">batch 2005</a>
        <a href="{% url 'details' 2006 %}">batch 2006</a>
        <a href="{% url 'details' 2007 %}">batch 2007</a>
        <a href="{% url 'details' 2008 %}">batch 2008</a>
        <a href="{% url 'details' 2009 %}">batch 2009</a>
        <a href="{% url 'details' 2010 %}">batch 2010</a>
    </pre>
    
</body>
</html>